<header-element></header-element>

<main id="login-page">
	<div class="container">
	<div class="row">
		<h5>Entre</h5>
		<div class="input-field col s6">
          	<input id="email" type="email" class="validate">
          	<label for="email">Email</label>
        <div class="input-field col s6">
          	<input id="password" type="password" class="validate">
        	<label for="password">Password</label>
        </div>
        <a class="waves-effect waves-light btn">Entre</a>
    </div>
     <div>
</main>

<!-- <footer-element></footer-element> -->