<header-element></header-element>

<main id="campaign-page" ng-init="campaignInit()">
	<div class="container">
		<div class="row">

			<div class="col s12 m8 l8">
				<div class="row">

					<div class="col s12 m6 l6">
						<img class="product-image" src="assets/images/campaigns/macbook.jpeg">
					</div>

					<div class="col s12 m6 l6">
						<h4 class="">Macbook 2016</h4>
						<p>Apple</p>
						<p>Eletrônicos</p>
						<h5>R$ 7.999,99</h5>
					</div>

				</div>
			</div>

			<div class="col s12 m4 l4">
				<div class="center">
					<h5>Faltam 2039</h5>
					<div class="progress">
	      				<div class="determinate" style="width: 70%"></div>
	 				</div>
 					<h6>2050/6000</h6>

 					<div class="qtd-picker">
 						<a class="waves-effect waves-light btn-small" ng-click="qtdMinusButton()"><i class="material-icons left">remove</i></a>
 						<div class="input-field">
							<input placeholder="QTD" ng-model="qtd" ng-change="qtdGetPartialTotal()" id="first_name" type="text" class="validate">
						</div>
 						<a class="waves-effect waves-light btn-small" ng-click="qtdAddButton()"><i class="material-icons left">add</i></a>
 						<p>R$ {{qtdPartialTotal}}</p>
 					</div>

 					<a class="waves-effect waves-light btn">Junte se a campanha</a>	
 				</div>
			</div>

		</div>

	</div>

	<!-- DESCRIÇÃO -->
	<div class="parallax-container">
		<div class="parallax">
			<img src="assets/images/banner-depot.jpg">
		</div>
	</div>

	<div class="container section white">
		<div class="row">
			<div class="col s12 m12 l8">
				<h3>Descrição</h3>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p>
			</div>

			<div class="col s12 m12 l4">
				<h5>Últimos Colaboradores</h5>
				<ul class="collection">
					<li class="collection-item avatar">
						<img src="assets/images/colaborators/thais.jpg" alt="" class="circle">
						<span class="title">Thais Maiolino</span>
						<p>540 peças</p>
					</li>
					<li class="collection-item avatar">
						<img src="assets/images/colaborators/thomas.jpg" alt="" class="circle">
						<span class="title">Thomás Agante</span>
						<p>300 peças</p>
					</li>
					<li class="collection-item avatar">
						<img src="assets/images/colaborators/eduardo.jpg" alt="" class="circle">
						<span class="title">Eduardo Furtado</span>
						<p>200 peças</p>
					</li>
					<li class="collection-item avatar">
						<img src="assets/images/colaborators/joao.jpg" alt="" class="circle">
						<span class="title">João Pedro Portela</span>
						<p>200 peças</p>
					</li>
					<li class="collection-item avatar">
						<img src="assets/images/colaborators/fabio.jpg" alt="" class="circle">
						<span class="title">Fabio Araújo</span>
						<p>150 peças</p>
					</li>
				</ul>
			</div>

			<div class="col s12 m12 l12">
				<h3>Detalhes</h3>
				<p><label>Modelo</label> MLH72xx/A</p>
				<p><label>Distribuidora</label> Apple</p>
			</div>
				
		</div>

	</div>

</main>

<footer-element></footer-element>