<header-element></header-element>

<main id="signup-page">
	<div class="container">
		<form id="signup-form">
		<div>
			<h4 class="">Cadastro</h4>
		</div>
			<div class="row">
       			<div class="input-field col s12">
          			<input id="email" type="email" class="validate">
          			<label for="email">Email</label>
        		</div>
       
        		<div class="input-field col s12">
		          <input id="password" type="password" class="validate">
		          <label for="password">Password</label>
        		</div>
			</div>

  			<h5 class="">Dados Empresarias</h5>
  			<div class="row">
		        <div class="input-field col s12">
		        	<input id="mainName" type="text" class="validate">
		        	<label for="mainName">Nome da empresa</label>
		        </div>
		        <div class="input-field col s6">
		        	<input id="cnpj" type="text" class="validate">
		        	<label for="cnpj">CNPJ</label>
		        </div>
		        <div class="input-field col s6">
		        	<label for="phone">Telefone</label>
		        	<input id="phone" type="text" class="validate">
		        </div>
		        <div class="input-field col s12">
		        	<input id="website" type="text">
		        	<label for="website">Site</label>
		        </div>
	        </div>
    		<h5 class="">Dados Cadastrais</h5>
    		<div class="row">
		        <div class="input-field col s4">
		        	<input id="zipcode" type="text">
		        	<label for="zipcode">CEP</label>
		        </div>
		       	<div class="input-field col s8">
			        <input id="address" type="text">
			        <label for="address">Endereço</label>
		        </div>
		        <div class="input-field col s6">
		        	<input id="neighborhood" type="text">
		        	<label for="neighborhood">Bairro</label>
		        </div>
				<div class="input-field col s6">
			        <input id="city" type="text" class="validate">
			        <label for="city">Cidade</label>
		        </div>
  
			    <div class="input-field col s6">
			    	<input id="state" type="text" class="validate">
			        <label for="state">Estado</label>
			    </div>
			    <div class="input-field col s6">
		        	<input id="country" type="text" class="validate">
		        	<label for="country">País</label>
    			</div>
			</div>
			
			<div class="row">
				<button class="btn waves-effect waves-light left" type="submit" name="action">Enviar
	    			<i class="material-icons right">send</i> 
	  			</button>
			</div>
  			
		</form>
  	</div>
</main>

<!-- <footer-element></footer-element> -->